In [1]:
## Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
## Import dataset "diamond.csv", which contains the prices and other attributes of almost 54,000 diamonds
df = pd.read_csv('diamonds.csv')
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.rename(columns={'depth':'depth%', 'x':'length', 'y':'width', 'z':'depth'},inplace=True)
df.head()

   carat      cut color clarity  depth%  table  price  length  width  depth
0   0.23    Ideal     E     SI2    61.5   55.0    326    3.95   3.98   2.43
1   0.21  Premium     E     SI1    59.8   61.0    326    3.89   3.84   2.31
2   0.23     Good     E     VS1    56.9   65.0    327    4.05   4.07   2.31
3   0.29  Premium     I     VS2    62.4   58.0    334    4.20   4.23   2.63
4   0.31     Good     J     SI2    63.3   58.0    335    4.34   4.35   2.75

In [3]:
## Check for missing data
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth%     0
table      0
price      0
length     0
width      0
depth      0
dtype: int64

In [4]:
## Slice the data to only look at Premium, Very good and Ideal cuts
df = pd.read_csv('diamonds.csv')
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.rename(columns={'depth':'depth%', 'x':'length', 'y':'width', 'z':'depth'},inplace=True)
df.head()

   carat      cut color clarity  depth%  table  price  length  width  depth
0   0.23    Ideal     E     SI2    61.5   55.0    326    3.95   3.98   2.43
1   0.21  Premium     E     SI1    59.8   61.0    326    3.89   3.84   2.31
2   0.23     Good     E     VS1    56.9   65.0    327    4.05   4.07   2.31
3   0.29  Premium     I     VS2    62.4   58.0    334    4.20   4.23   2.63
4   0.31     Good     J     SI2    63.3   58.0    335    4.34   4.35   2.75

In [5]:
df1.describe()

NameError: name 'df1' is not defined

In [ ]:
df1.describe(include=['object'])

In [ ]:
## Drill 1: Plot diamond cut in 4 different ways
plt.figure(figsize=(12, 9))
sns.set(style='whitegrid')

plt.subplot(2,2,1)
sns.barplot(x='cut', y='price', data=df1, estimator=lambda x: np.mean(x))
plt.title('Average price by Cuts')
plt.xlabel('Diamond cut')
plt.ylabel('Average price')

plt.subplot(2,2,2)
sns.violinplot(x='cut', y='price', data=df1, linewidth=1)
plt.title('Diamond prices by Cuts')
plt.xlabel('Diamond cut')
plt.ylabel('Diamond price')

plt.subplot(2,2,3)
sns.boxplot(x='cut', y='price', data=df1, linewidth=1.5)
plt.title('Diamond prices by Cuts')
plt.xlabel('Diamond cut')
plt.ylabel('Diamond price')

plt.subplot(2,2,4)
sns.scatterplot(x='carat', y='price', hue='cut', data=df1)
plt.title('Diamond cut by size and price')
plt.xlabel('Diamond cut')
plt.ylabel('Diamond price')

plt.tight_layout()
plt.show()

In [ ]:
## Drill 2: Plot two continuous variables 3 different ways

In [ ]:
## Slice df to only look at Good cut only
df2 =df.loc[df['cut']=='Good']
df2.head()

In [ ]:
plt.figure(figsize=(16, 7))
sns.set(style='darkgrid')
plt.margins(x=0.1, y=0.0, tight=True)

plt.subplot(1,3,1)
sns.lineplot(x='carat', y='price', data=df2)
plt.title('Price of diamond by size')
plt.xlabel('Diamond size (carat)')
plt.ylabel('Diamond price')

plt.subplot(1,3,2)
sns.scatterplot(x='carat', y='depth', data=df2, color='r')
plt.title('Diamond depth and size ')
plt.xlabel('Diamond size (carat)')
plt.ylabel('Diamond depth (mm)')

plt.subplot(1,3,3)
sns.regplot(x='length', y='depth', data=df2, color='green')
plt.title('Diamond depth vs length ')
plt.xlabel('Diamond length(mm)')
plt.ylabel('Diamond depth (mm)')

plt.tight_layout
plt.show()

In [ ]:
## Plot one continuous and one categorical

In [ ]:
df.color.unique()

In [ ]:
## Slice df to look at VS1, IF colors and F and